@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}


.success {
    color: black;
    background-color: lightgreen;
    padding: 10px;
    border: green 2px solid;
    width: fit-content;
}


.failure {
    color: black;
    background-color: lightcoral;
    padding: 10px;
    border: red 2px solid;
    width: fit-content;
}