.addStudent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: lightslategray;
    margin: 10px 30px;
}

.studentList{
    border: 2px solid black;
    width: 100%;

    tr,td {
        border: 1px solid black;
    }
}