.footer {
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* position: absolute;
    width: 100%;
    bottom: 0; */
}