.navbar {
    background-color: lightblue;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;


    .logo {
        font-size: 20px;
        font-weight: 900;
    }

    .menu{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 10px;

        li a {
            text-decoration: none;
            font-weight: 700;
            color: black;
        }

        li button {
            padding: 10px 20px;
            border: none;
            background-color: rgb(69, 122, 140);
            cursor: pointer;
            color: white;
        }
    }
}

