.userGenSection {
    background-color: rgb(179, 179, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .title {
        font-size: 36px;
        font-weight: 900;
        margin-top: 20px;

    }

    
}