.userCard {
        background-color: white;
        width: 80%;
        margin: 10px;
        padding: 7px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}